<div>
  <p style="text-align: center">Login</p>

  <div class="clear"></div>

  <div style="margin-top: 1em">
    <p style="text-align: center">
      <b style="margin-right: .6em">Usuário:</b>
      <input type="text" name="">
    </p>
    <p style="text-align: center">
      <b style="margin-right: .6em">Senha:</b>
      <input type="password"  name="">
    </p>
  </div>

  <div class="clear"></div>

  <p style="text-align: center"><button>Log in</button></p>
</div>
