<!DOCTYPE html>
<html>
  <head>
    <title>EstudosLogin</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div style="width: 70%; margin: 1em auto; padding: 0.5em; background: rgba(0,0,0,.1); border-radius: 0.2em;">
      <%= yield %>
    </div>
  </body>
</html>
