<!DOCTYPE html>
<html ng-app="PersonalManagementCtr" ng-controller="AppCtrl">
  <head>
    <title>EstudosLogin</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav style="background: rgba(0, 0, 0, .1); overflow: auto; padding: 0 .5em;">
      <ul>
        <% if current_user %>
          <li style="cursor: pointer; background: rgba(0,0,0,.1); padding: .5em; margin-left: .1em" ng-click="menu.openAngularPeople()">Home Angular</li>
          <li style="cursor: pointer; background: rgba(0,0,0,.1); padding: .5em; margin-left: .1em" ng-click="menu.logOut()">Log Out</li>
        <% else %>
          <li style="cursor: pointer; background: rgba(0,0,0,.1); padding: .5em" ng-click="menu.logIn()">Log In</li>
        <% end %>
      </ul>
    </nav>
    <div class="clear"></div>
    <div style="width: 70%; margin: .3em auto 1em auto; padding: 0.5em; background: rgba(0,0,0,.1); border-radius: 0.2em;">
      <ng-view></ng-view>
  </body>
</html>
